doctype html
html(lang='en')
	head
		title= title
		link(rel='stylesheet', href='/assets/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/assets/stylesheets/style.css')
	body
		block content
		script(type='text/javascript', src='/assets/javascripts/jquery.min.js')
